* {
  font-family: Arial, Helvetica, sans-serif;
}

.text-layer h1 {
  position: relative;
  font-family: 'Teko', sans-serif;
  font-size: 1000%;
  line-height: 90%;
  text-align: center;
  font-weight: 400;
  color: white;
}

.scroll-div {
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.scroll-div h1 {
  max-width: fit-content;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

@keyframes ambulanceDrive {
  from {
    left: -25%;
  }

  to {
    left: 125%;
  }
}

.ambulance {
  position: relative;
  max-width: 25%;
  bottom: -55%;
  animation-name: ambulanceDrive;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}